*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.container {
  width: 550px;
  height: 779px;
  margin: auto;
}
header {
  background-image: url("images/posters.png");
  height: 208px;
  background-color: #0e0e0e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: 0 0 0 42px;
  font-weight: 800;
  font-size: 2.67rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  margin: 0 42px 0 0;
  font-weight: bold;
}
form {
  display: flex;
  justify-content: center;
  margin-top: -19px;
  margin-bottom: 0;
}
input#search-input {
  background-image: url("images/search.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 13px center;
  padding: 9px 0px 9px 37px;
  width: 342px;
  border: 1px solid #d1d5db;
  border-radius: 6px 0 0 6px;
  margin: 0;
}
button#search-btn {
  width: 120px;
  padding: 9px 0 9px 0;
  border-radius: 0 6px 6px 0;
  margin: 0 0 0 -4px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  color: #374151;
  font-family: inherit;
  cursor: pointer;
}
#movies-container {
  margin-top: -17px;
}
main {
  background-color: white;
  display: flex;
  height: 571px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dfdddd;
  font-weight: bold;
  font-size: 1.125rem;
}
.start-exploring {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dfdddd;
  font-weight: bold;
  font-size: 1.125rem;
}

.add-movies-text {
  display: flex;
  gap: 5px;
  font-size: 0.875rem;
  align-items: center;
}
.add-movies-text a {
  color: #363636;
  text-decoration: none;
}

ul#pages-container {
  list-style: none;
  display: flex;
  padding-top: 20px;
  padding-right: 42px;
  width: fit-content;
  margin: 0 0 0 auto;
}

.page-btn {
  text-decoration: underline;
  border: none;
  background-color: white;
}

.movie,
.movie-info,
.movie-title,
.movie-text,
.add-to-watchlist {
  display: flex;
}
.movie {
  gap: 20px;
  margin: auto;
  width: 462px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #e5e7eb;
  padding: 20px; 0
}
.movie-poster {
  width: 99px;
}
.star-icon {
  width: 11px;
  height: 11px;
}
.movie-text {
  flex-direction: column;
  gap: 15px;
}
.movie-title {
  align-items: center;
  gap: 7px;
}
.movie-title h2 {
  font-size: 1.125rem;
  margin: 0;
  color: black;
  font-weight: 500;
  margin-right: 10px;
}
.movie-title span,
.movie-info {
  font-size: 0.75rem;
  color: #111827;
  font-weight: 400;
}
.movie-info {
  align-items: center;
  gap: 20px;
}

.add-to-watchlist {
  gap: 5px;
}

.plot {
  color: #6b7280;
  font-weight: 400;
  font-size: 0.875rem;
}
